* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #2B2B2B;
}

:root {
    --color-white: white;
    --font-weight: 600;
    --color-purple: #A259FF;
}

.logo span{
    font-size: 25px;
    font-weight: var(--font-weight);
    text-decoration: none;
    color: var(--color-white);
}

.logo {
    display: flex;              
    align-items: center;       
    gap: 10px;    
    color: inherit;            
    text-decoration: none;     
}

.logo img {
    width: 40px;
    height: 40px;
}

.header__inner {
    display: flex;             
    align-items: center;       
    justify-content: space-between; 
    padding: 30px 20px;        
}

.nav a {
    margin-right: 30px;        
    text-decoration: none;     
    color: var(--color-white);
    font-size: 20px;
    font-weight: var(--font-weight);            
}

.nav a:last-child {
    margin-right: 0;           
}

.btn--sign {
    padding: 15px 20px;
    background-color: var(--color-purple);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 12px;
    font-weight: var(--font-weight);
    width: fit-content;

}
.btn--sign img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.btn--sign span {
    vertical-align: middle;
}

.auth__inner {
    display: flex;
    justify-content: space-between;
    gap: 0;
    height: calc(90vh - 90px); 
}


.auth__image {
    width: 45%;
    height: 100%; 
}

.auth__image img {
    width: 100%;
    height: 100%;
}

.auth__content {
    background-color: #2B2B2B;
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-left: 150;
}


.auth__content h1 {
    font-size: 60px; 
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 15px;
}

.auth__content p {
    font-size: 20px; 
    font-weight: 200;
    color: var(--color-white);
    margin-bottom: 15px;
}

.form-group {
    position: relative;
    padding: 12px 0px;
    width: 48%; 
}

.form-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.form-icon img {
    width: 20px;
    height: 20px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.form-group input {
    padding: 18px 20px 18px 50px;
    width: 100%; 
    background-color: inherit;
    border: 2px solid #444;
    border-radius: 15px;
    color: var(--color-white);
    font-size: 16px;
    box-sizing: border-box;
}

.btn--accent{
    padding: 25px 20px 18px 25px;
    width: 100%; 
    background-color: var(--color-purple);
    border: 2px solid #444;
    border-radius: 20px;
    color: var(--color-white);
    font-size: 20px;
    font-weight: var(--font-weight);
    box-sizing: border-box;
}

.btn--accent:hover{
    cursor: pointer;
}

.form-icon--rocket {
    left: 28%;
    top: 55%;
}

.form-icon--eye{
    left: 90%;
    top: 52%;
}

.footer {
    background-color: #3B3B3B;
}

.footer__inner {
    display: flex;             
    align-items: flex-start;       
    justify-content: space-between; 
    padding: 30px 200px;        
}

.footer__inner h2{
    color: white;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

#main_logo{
    display: inline-block;
    vertical-align: middle;
}

.footer__info{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.footer__subscribe{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.footer__inner p {
    color: #CCCCCC;
    font-weight: 400;
}

.footer__form {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden; 
    width: 100%;
    max-width: 400px;
}

.input--email {
    border: none;
    padding: 20px;
    font-size: 14px;
    font-weight: 400;
    flex: 1; 
    outline: none; 
    border-radius: 20px;
}

.btn--subscribe {
    padding: 18px 40px;
    border: none;
    background-color: var(--color-purple);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap; 
    border-radius: 20px;
}
